@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
 .landingpage{
    position: relative;
    min-width: 100%;
    background-image:url('../../../src/assets/bgcb.png');
    height: 100vh; 
    
}

/* .curlybackground{
    position: absolute;
width: 2242.56px;
height: 1113.67px;
left: 1169.78px;
top: -710px;

background: linear-gradient(87.94deg, #D5C8EF -32.81%, #C9B2F7 22.95%, #7D12F4 77.57%);
transform: rotate(43.02deg);
} */
.landing_nav-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 28%;
    height: 50px;
    left: 1000px;
    top: 20px;
    background: #FCFCFC;
    border-radius: 25px 0px 0px 25px;
    align-items: right;
    margin-right: 0%;
 }
 h1{
    margin: 0;
    font-size: 2.6rem;
}
.landingtext{
    position:relative;
    width: 545px;
    height: 288px; 
    left: 144px;
    top: 160px; 
    color: #24014E;
    text-align: left;
    
}
.landinglogin{
    color:#24014E;
    margin-top:10%;
    font-size:1.4rem;
    text-align: left;
    
    
}

.landingButtons{
   display:flex;
   flex-direction: row;
   gap: 40px; 
   position:relative;
   width: 350px;
   height: 50px;
   left: 145px;
   top:140px;
}

.landingAdmin{
    font-weight: bold;
    justify-content:space-between;
    font-size: 1.0rem;
    color:white;
    width:150px;
    border-radius:20px;
    background-color: rgb(36,1,78);
}
.landingAdmin a{
    text-decoration: none;
    color:white;
}
.landingStudent{
    font-weight: bold;
    justify-content:space-between;
    font-size: 1.0rem;
    color:white;
    width:150px;
    border-radius:20px;
    background-color: rgb(36,1,78);
}
.landingStudent a{
    text-decoration: none;
    color:white;
}
.landingRocket{
    position: absolute;
    width: 440px; 
    height: 470px;
    left: 800px;
    top: 160px;
} 
.landinglogo{
    margin-left:-1028px;
    margin-top: 20px;
    height:60px;
   
}
